.mat-chip-list /deep/.mat-chip-list-wrapper
{
	display: inline;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin: -4px;
}
/*.highcharts-point-up{ background-color: green;}
.highcharts-point-up{ background-color: green;}*/