source/appsettings.Development.json
source/appsettings.json
source/Program.cs
source/Startup.cs
source/TwsWebsite.csproj
source/WeatherForecast.cs
source/ClientApp/.editorconfig
source/ClientApp/.gitignore
source/ClientApp/angular.json
source/ClientApp/browserslist
source/ClientApp/karma.conf.js
source/ClientApp/package-lock.json
source/ClientApp/package.json
source/ClientApp/README.md
source/ClientApp/tsconfig.app.json
source/ClientApp/tsconfig.json
source/ClientApp/tsconfig.spec.json
source/ClientApp/tslint.json
source/ClientApp/e2e/protractor.conf.js
source/ClientApp/e2e/tsconfig.e2e.json
source/ClientApp/e2e/tsconfig.json
source/ClientApp/e2e/src/app.e2e-spec.ts
source/ClientApp/e2e/src/app.po.ts
source/ClientApp/src/favicon.ico
source/ClientApp/src/index.html
source/ClientApp/src/karma.conf.js
source/ClientApp/src/main.ts
source/ClientApp/src/polyfills.ts
source/ClientApp/src/styles.css
source/ClientApp/src/styles.scss
source/ClientApp/src/test.ts
source/ClientApp/src/tsconfig.app.json
source/ClientApp/src/tsconfig.server.json
source/ClientApp/src/tsconfig.spec.json
source/ClientApp/src/tslint.json
source/ClientApp/src/app/app.component.html
source/ClientApp/src/app/app.component.scss
source/ClientApp/src/app/app.component.spec.ts
source/ClientApp/src/app/app.component.ts
source/ClientApp/src/app/app.module.ts
source/ClientApp/src/app/app.server.module.ts
source/ClientApp/src/app/counter/counter.component.html
source/ClientApp/src/app/counter/counter.component.spec.ts
source/ClientApp/src/app/counter/counter.component.ts
source/ClientApp/src/app/fetch-data/fetch-data.component.html
source/ClientApp/src/app/fetch-data/fetch-data.component.ts
source/ClientApp/src/app/home/home.component.html
source/ClientApp/src/app/home/home.component.ts
source/ClientApp/src/app/nav-menu/nav-menu.component.css
source/ClientApp/src/app/nav-menu/nav-menu.component.html
source/ClientApp/src/app/nav-menu/nav-menu.component.ts
source/ClientApp/src/assets/.gitkeep
source/ClientApp/src/environments/environment.prod.ts
source/ClientApp/src/environments/environment.ts
source/Controllers/WeatherForecastController.cs
source/Pages/_ViewImports.cshtml
source/Pages/Error.cshtml
source/Pages/Error.cshtml.cs
source/Properties/launchSettings.json
source/wwwroot/favicon.ico
source/ClientApp/src/assets/*
source/.vscode/settings.json
source/.vscode/launch.json
source/.vscode/tasks.json
source/ClientApp/src/app/routes.ts
source/ClientApp/src/app/pages/material-site
source/ClientApp/src/app/services/profile
source/ClientApp/src/app/shared/material-site/*
source/ClientApp/src/app/proto/*

baseline/ClientApp/src/app/proto/*.js
baseline/ClientApp/src/app/proto/*.ts
source/ClientApp/src/styles/*
source/ClientApp/src/_app-theme.scss
source/ClientApp/src/app/shared/framework/paginator/*
source/ClientApp/src/app/utilities/settings.ts
source/ClientApp/src/app/utilities/dateUtilities.ts
source/ClientApp/src/app/utilities/mathUtilities.ts
source/ClientApp/src/app/utilities/settings.ts
source/ClientApp/src/app/utilities/stl.ts
source/ClientApp/src/app/utilities/ProgressObservable.ts
source/ClientApp/src/app/utilities/protoUtilities.ts
source/ClientApp/tsconfig.base.json
source/ClientApp/.browserslistrc
source/ClientApp/src/app/shared/framework/link-select/link-select.*
source/ClientApp/src/app/shared/framework/date-range/date-range.*
source/ClientApp/src/app/shared/framework/severity-picker/*
source/ClientApp/src/app/utilities/collections.ts
source/ClientApp/src/app/app.component.spec._ts
source/ClientApp/src/app/services/error/IErrorService.ts
source/ClientApp/src/app/services/error/DefaultError.service.ts
*.diff
source/ClientApp/src/app/pages/tws/blockly/viewer/blocks/default2.js
source/ClientApp/src/app/pages/tws/blockly/viewer/blocks/custom-fields.js
source/ClientApp/src/app/blockly/*
source/ClientApp/projects/jde-blockly/*
source/ClientApp/projects/jde-blockly-assets/*
source/ClientApp/projects/jde-framework/*
source/ClientApp/projects/jde-material-site/*
source/ClientApp/projects/jde-tws-assets/*
source/ClientApp/src/app/pages/tws/blockly/index/blockly-index.xxx.scss
source/ClientApp/projects/jde-tws/karma.conf.js
source/ClientApp/projects/jde-tws/README.md
source/ClientApp/projects/jde-tws/tsconfig.lib.json
source/ClientApp/projects/jde-tws/tsconfig.lib.prod.json
source/ClientApp/projects/jde-tws/tsconfig.spec.json
source/ClientApp/projects/jde-tws/tslint.json
source/ClientApp/projects/jde-tws/src/test.ts
source/ClientApp/projects/jde-tws/src/lib/jde-tws.component.spec.ts
source/ClientApp/projects/jde-tws/src/lib/jde-tws.component.ts
source/ClientApp/projects/jde-tws/src/lib/jde-tws.service.spec.ts
source/ClientApp/projects/jde-tws/src/lib/jde-tws.service.ts
