<ng-container *ngIf="data">
	<!-- <mat-toolbar style="height:120px">
	</mat-toolbar> -->
	<div style="align-content: center; margin: auto;  text-align: center; background-color: black">
		<mat-table style="display: inline-block;width:1200px" #mainTable matSort [dataSource]="data" class="mat-elevation-z8" (matSortChange)="sortData($event)"  [matSortActive]="sort.active" [matSortDirection]="sort.direction">
			<ng-container matColumnDef="symbol">
				<mat-header-cell mat-sort-header class="symbolCell" *matHeaderCellDef> Symbol </mat-header-cell>
				<mat-cell class="symbolCell" *matCellDef="let element"> {{element.contract.symbol}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="id">
				<!-- <mat-header-cell mat-sort-header class="dateTimeHCell" *matHeaderCellDef></mat-header-cell> -->
				<!-- <mat-cell class="dateTimeBCell" *matCellDef="let element"> {{element.startTime==0 ? null : element.startTime | date: "MM/dd/yy HH:mm:ss"}} </mat-cell> -->
			</ng-container>
			<ng-container matColumnDef="status">
				<mat-header-cell mat-sort-header class="dateTimeHCell" *matHeaderCellDef> Status </mat-header-cell>
				<mat-cell class="dateTimeBCell" *matCellDef="let element"> {{element.statusString}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="shares">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Shares </mat-header-cell>
				<!-- <mat-cell class="numberBCell" *matCellDef="let element">{{ quantityDisplay | number:'1.0-0'}}</mat-cell> -->
				<mat-cell class="numberBCell" *matCellDef="let element">
					<!-- <div class="cell-wrapper"> -->
						<quantity style="display: flex;width: 100%;" *ngIf="isEditing( element, 'shares' )" placeholder="{{element.quantityDisplay}}" step="100" [value]="element.quantityNew || element.quantityDisplay" (valueChange)="element.quantityNew=$event" (focusChange)="focusChange($event, element, 'shares')" ></quantity>
					  <!-- <quantity *ngIf="rowEditable(row)"></quantity> -->
						<!-- type="text" [value]="row.name" (keydown)="checkEnterKey($event, row.id)" -->
						<span *ngIf="!isEditing( element, 'shares' )" (click)="edit( element, 'shares' )" class="cell-data">{{ element.quantityDisplay | number:'1.0-0'}}</span>
					<!-- </div> -->
				</mat-cell>
			</ng-container>
			<!-- <ng-container matColumnDef="openTime">
				<mat-header-cell mat-sort-header class="dateTimeHCell" *matHeaderCellDef> Open </mat-header-cell>
				<mat-cell class="dateTimeBCell" *matCellDef="let element"> {{element.startTime==0 ? null : element.startTime | date: "MM/dd/yy HH:mm:ss"}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="closeTime">
				<mat-header-cell mat-sort-header class="dateTimeHCell" *matHeaderCellDef> Close </mat-header-cell>
				<mat-cell class="dateTimeBCell" *matCellDef="let element"> {{element.stopTime==0 ? null : element.stopTime | date: "HH:mm:ss"}} </mat-cell>
			</ng-container> -->
			<ng-container matColumnDef="Limit">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> limit </mat-header-cell>
				<!-- <mat-cell class="numberBCell" *matCellDef="let element">{{element.limit | number:'1.2-2'}}</mat-cell> -->
				<mat-cell class="numberBCell" *matCellDef="let element">
					<!-- <div> -->
						<quantity style="display: flex;width: 100%;" *ngIf="isEditing( element, 'limit' )" placeholder="{{element.limit}}" step=".01" [value]="element.limitNew || element.limit" (valueChange)="element.limitNew=$event" (focusChange)="focusChange($event, element, 'limit')" ></quantity>
					<!-- <quantity *ngIf="rowEditable(row)"></quantity> -->
						<!-- type="text" [value]="row.name" (keydown)="checkEnterKey($event, row.id)" -->
						<span *ngIf="!isEditing( element, 'limit' )" (click)="edit( element, 'limit' )" class="cell-data">{{element.limit | number:'1.2-2'}}</span>
					<!-- </div> -->
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="bidSize">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Bid SZ </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.bidSize | number:'1.0-0'}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="bid">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Bid </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.bid | number:'1.2-2'}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="ask">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Ask </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.ask | number:'1.2-2'}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="askSize">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Ask SZ </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.askSize | number:'1.0-0'}}</mat-cell>
			</ng-container>
			<ng-container matColumnDef="last">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Last </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.last | number:'1.2-2'}}</mat-cell>
			</ng-container>
			<!-- <ng-container matColumnDef="commissions">
				<mat-header-cell mat-sort-header class="numberHCell" *matHeaderCellDef> Commissions </mat-header-cell>
				<mat-cell class="numberBCell" *matCellDef="let element">{{element.commission | number:'1.2-2'}}</mat-cell>
			</ng-container> -->
			<ng-container matColumnDef="buttons" stickyEnd>
				<mat-header-cell *matHeaderCellDef></mat-header-cell>
				<mat-cell *matCellDef="let element">
					<button mat-icon-button *ngIf="hasChanges(element)" (click)="submit(element)"><mat-icon>publish</mat-icon></button>
					<button mat-icon-button *ngIf="hasChanges(element)" (click)="undo(element)"><mat-icon>undo</mat-icon></button>
					<button mat-icon-button (click)="cancel(element.id)"><mat-icon>cancel</mat-icon></button>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</div>
</ng-container>
