<ng-container *ngIf="viewPromise | async">
	<mat-toolbar style="height:80px">
		<span></span>
		<button mat-icon-button color="primary" style="margin-left :20px; margin-right:10px" (click)="insert()"><mat-icon>add</mat-icon></button>
		<button mat-icon-button color="primary" [disabled]="!haveSelection" style="margin-left :20px; margin-right:10px" (click)="edit()"><mat-icon>{{selection?.deleted ? "restore" : "edit_attributes"}}</mat-icon></button>
		<button mat-icon-button color="primary" [disabled]="!haveSelection" style="margin-left :20px; margin-right:10px" (click)="delete()"><mat-icon>{{selection?.deleted ? "delete_forever" : "remove"}}</mat-icon></button>
		<span></span>
		<mat-checkbox [checked]="showDeleted" color="primary" (change)="toggleShowDeleted()">Show Deleted</mat-checkbox>
	</mat-toolbar>
	<div style="align-content: center; margin: auto;  text-align: center">
		<graph-ql-table [dataSource]="data" [displayedColumns]="displayedColumns" [sort]="sort" [showDeleted]="showDeleted" [showDeletedEvents]="showDeletedSubject.asObservable()" (selectionChanged)="selectionChanged($event)" ></graph-ql-table>
		<!-- <mat-table #mainTable matSort [dataSource]="data" class="mat-elevation-z8" (matSortChange)="sortData($event)"  [matSortActive]="sort.active" [matSortDirection]="sort.direction">
			<ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
				<mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
				<mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
			 </ng-container> -->
			<!-- <ng-container matColumnDef="name">
				<mat-header-cell mat-sort-header class="idCell" *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell class="nameCell" *matCellDef="let element"> {{element.name}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="target">
				<mat-header-cell mat-sort-header class="typeCell" *matHeaderCellDef> Target </mat-header-cell>
				<mat-cell class="typeCell" *matCellDef="let element"> {{element.target}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="description">
				<mat-header-cell mat-sort-header class="typeCell" *matHeaderCellDef> Description </mat-header-cell>
				<mat-cell class="typeCell" *matCellDef="let element"> {{element.description}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="authenticator">
				<mat-header-cell mat-sort-header class="typeCell" *matHeaderCellDef> Authenticator </mat-header-cell>
				<mat-cell class="typeCell" *matCellDef="let element"> {{authenticators.get(element.authenticatorId)}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="deleted">
				<mat-header-cell mat-sort-header class="booleanCell" *matHeaderCellDef> Deleted </mat-header-cell>
				<mat-cell class="booleanCell" *matCellDef="let element"> {{element.deleted}} </mat-cell>
			</ng-container> -->
			<!-- <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
			<mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="cellClick(row)" [class.hidden]="!showDeleted && row.deleted" [class.highlight]="selection?.id==row.id"></mat-row>
		</mat-table> -->
	</div>
</ng-container>
