table
{
	width: 100%;
}

.negativeValue
{
	background: rgba(255, 0, 0, 0.5);
}

.pnlField
{
	flex:  0 0 30px;
	padding-right:10px;
}

.pnlFieldValue
{
}

.numberField
{
	flex: 0 0 45px;
	padding-right:10px;
	justify-content: flex-end;
}

.numberFieldValue
{

}

.symbolField
{
	flex: 0 0 150px;
}


.sectionDivider
{
	border-right-color: gray;
	border-right-width: 4px;
	border-right-style: solid;
}
.subSectionDivider
{
	border-right-color: gray;
	border-right-width: 1px;
	border-right-style: solid;
}

th.group
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: gray;
}
th.topLeft
{
	border-top-left-radius: 15px;
}

th.topRight
{
	border-top-right-radius: 15px;
}

td.mainCell
{
	border-bottom-color: gray;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

td.mainLeft
{
	border-bottom-left-radius: 15px;
	border-left-color: gray;
	border-left-width: 2px;
	border-left-style: solid;
}

td.mainRight
{
	border-bottom-right-radius: 15px;
	border-right-color: gray;
	border-right-width: 2px;
	border-right-style: solid;
}


