<mat-toolbar style="height:75px">
	 <table style="display:inline; border-spacing: 0px;width:300px">
		<tbody>
			<tr><td [class.negativeValue]="pnl<0" [class.positiveValue]="pnl>0">Daily</td><td style="padding-left: 10px;text-align: right;" class="numberCell"[class.negativeValue]="pnl<0" [class.positiveValue]="pnl>0">{{pnl | number:'1.0-0'}}</td><td style="text-align: right; padding-left: 20px;" [class.negativeValue]="pnl<0" [class.positiveValue]="pnl>0">{{pnl/valuePrevious | percent:'1.2'}}</td></tr>
		</tbody>
	</table>
	<table style="display: inline;border-spacing: 0px;width:300px">
		<tbody>
			<tr><td>Net Liq</td><td style="padding-left: 10px;text-align: right;" class="numberCell">{{value | number:'1.0-0'}}</td></tr>
		</tbody>
	</table>
	<mat-form-field style="display:inline;margin-top: 15px;">
		<mat-label>Accounts</mat-label>
		<mat-select [(ngModel)]="selectedAccounts" (selectionChange)="accountChange($event.value)" multiple>
		  <mat-option *ngFor="let account of allAccounts | keyvalue" [value]="account.key">{{account.value}}</mat-option>
		</mat-select>
	 </mat-form-field>
</mat-toolbar>
<mat-table #mainTable [dataSource]="holdings" class="mat-elevation-z8">
	<ng-container matColumnDef="profit">
		<mat-header-cell class="numberField" *matHeaderCellDef> P&L </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" [class.negativeValue]="element.pnl<0" [class.positiveValue]="element.pnl>0" *matCellDef="let element"> {{element.pnl | number:'1.0-0'}} </mat-cell> <!--  justify-content: flex-end;text-align: right  [style.flex]="'0 0 65px'"-->
		<mat-footer-cell class="numberField" *matFooterCellDef></mat-footer-cell>
	</ng-container>
  <ng-container matColumnDef="symbol">
		<mat-header-cell class="symbolField" *matHeaderCellDef> Symbol </mat-header-cell>
		<mat-cell class="symbolField" *matCellDef="let element">{{element.display}}</mat-cell>
		<mat-footer-cell class="symbolField" *matFooterCellDef>Cash</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="position">
		<mat-header-cell class="numberField"  *matHeaderCellDef> POS </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" [class.negativeValue]="element.position<0" [class.positiveValue]="element.position>0" *matCellDef="let element"> {{element.position | number }} </mat-cell>
		<mat-footer-cell class="numberField" *matFooterCellDef></mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="marketValue">
		<mat-header-cell class="numberField" *matHeaderCellDef> Market </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" *matCellDef="let element"> {{element.marketValue | number:'1.0-0'}} </mat-cell>
		<mat-footer-cell class="numberField" [class.negativeValue]="totalCash<0" [class.positiveValue]="totalCash>0" *matFooterCellDef>{{totalCash | number:'1.0-0'}}</mat-footer-cell>
  </ng-container>
  <ng-container matColumnDef="averagePrice">
		<mat-header-cell class="numberField" *matHeaderCellDef> AVG PX </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" *matCellDef="let element"> {{element.averageCost | number:'1.2-2'}} </mat-cell>
		<mat-footer-cell *matFooterCellDef></mat-footer-cell>
	</ng-container>
	<ng-container matColumnDef="volume">
		<mat-header-cell class="numberField" *matHeaderCellDef> VLM </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" *matCellDef="let element"> {{element.volume | number:'1.0-0'}} </mat-cell>
		<mat-footer-cell *matFooterCellDef></mat-footer-cell>
	</ng-container>
	<ng-container matColumnDef="last">
		<mat-header-cell class="numberField" *matHeaderCellDef> Last </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" *matCellDef="let element"> {{element.last | number:'1.2-2'}} </mat-cell>
		<mat-footer-cell *matFooterCellDef></mat-footer-cell>
	</ng-container>
 	<ng-container matColumnDef="change">
		<mat-header-cell class="numberField" *matHeaderCellDef> Change </mat-header-cell>
		<mat-cell class="numberField numberFieldValue" [class.negativeValue]="element.change<0" [class.positiveValue]="element.change>0" *matCellDef="let element"> {{element.change | number:'1.2-2'}} </mat-cell>
		<mat-footer-cell *matFooterCellDef></mat-footer-cell>
	</ng-container>
	<ng-container matColumnDef="menu" stickyEnd>
		<mat-header-cell *matHeaderCellDef></mat-header-cell>
		<mat-menu #appMenu="matMenu">
			<ng-template matMenuContent let-contract="contract" let-position="position">
		  		<button mat-menu-item (click)="close(contract, $event)">Close</button>
				<button mat-menu-item (click)="trade(contract, $event)">{{position ? "Buy" : "Close"}}</button>
			</ng-template>
		</mat-menu><!---->
		<mat-cell *matCellDef="let element"><button mat-icon-button [matMenuTriggerData]="element" [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon> </button></mat-cell>
		<mat-footer-cell *matFooterCellDef></mat-footer-cell>
	</ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
</mat-table>
