table {
	width: 100%;
 }

div.table
{
	/* display: -webkit-box; */
	flex-grow: 1; 
	flex-basis: 100vh;
	/* height: 100px; */
	overflow: auto;
}

.level
{
	flex: 0 0 85px;
}

.number
{
	flex: 0 0 25px;
	text-align: right;
	justify-content: flex-end;
}

.function
{
	flex: 0 0 125px;
}

.table-row 
{
	height: 30px;
	min-height: 30px;
}
.highlight
{
	/* background-color: aqua;
	color: black; */
	border-color: orange;
	border-width: 1px;
	border-style: solid;
}
