@import '~@angular/material/theming';

@import 'dist/jde-material-site/src/assets/pages/component-category-list/component-category-list-theme';
//@import './app/pages/material-site/component-list/component-list-theme';
@import 'dist/jde-material-site/src/assets/pages/component-sidenav/component-sidenav-theme';
//@import './app/pages/material-site/component-viewer/component-viewer-theme';
//@import './app/pages/material-site/guide-list/guide-list-theme';
//@import './app/pages/material-site/homepage/homepage-theme';
//@import './app/shared/example-viewer/example-viewer-theme';
@import 'dist/jde-material-site/src/assets/shared/footer/footer-theme';
@import 'dist/jde-material-site/src/assets/shared/navbar/navbar-theme';
//@import './app/shared/table-of-contents/table-of-contents-theme';
@import 'dist/jde-material-site/src/styles/api-theme';
@import 'dist/jde-material-site/src/styles/markdown-theme';
@import 'dist/jde-material-site/src/styles/svg-theme';
@import 'dist/jde-material-site/src/styles/tables-theme';

// Styles for the docs app that are based on the current theme.
@mixin material-docs-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  .docs-app-background {
    background: mat-color($background, background);
  }

  .docs-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .docs-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .is-next-version {
    background: mat-color($next-theme, 900) !important;
  }

  @include component-category-list-theme($theme);
  //@include component-list-theme($theme);
  @include component-viewer-sidenav-theme($theme);
  //@include component-viewer-theme($theme);
  @include docs-site-api-theme($theme);
  @include docs-site-markdown-theme($theme);
  @include docs-site-svg-theme($theme);
  @include docs-site-tables-theme($theme);
  //@include example-viewer-theme($theme);
  @include footer-theme($theme);
  //@include guide-list-theme($theme);
  //@include home-page-theme($theme);
  @include nav-bar-theme($theme);
  //@include table-of-contents-theme($theme);
}

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
