@import './app-theme';
@import 'dist/jde-material-site/src/styles/api';
@import 'dist/jde-material-site/src/styles/markdown';
@import 'dist/jde-material-site/src/styles/tables';
@import 'dist/jde-material-site/src/styles/general';

// Include material core styles.
@include mat-core();

@include angular-material-theme($theme);
@include material-docs-app-theme($theme);

.negativeValue
{
	background: rgba(255, 0, 0, 0.5);
}
.positiveValue
{
	background: rgba(0, 255, 0, 0.5);
}

.number
{
	flex: 0 0 100px;
	padding-right:10px;
}
.numberHeader
{
	@extend .number;
	justify-content: center;
}
.numberField
{
	@extend .number;
	justify-content: flex-end;
}

.numberFieldValue
{
	margin: default;
}

.dateTime
{
	flex: 0 0 130px;
	padding-right:10px;
}

.dateTimeHeader
{
	@extend .dateTime;
	justify-content: center;
}

.dateTimeField
{
	@extend .dateTime;
	justify-content: flex-end;
}
.symbolField
{
	flex: 0 0 160px;
}

.highlight
{
	/* background-color: aqua;
	color: black; */
	border-color: orange;
	border-width: 1px;
	border-style: solid;
}

td.numberCell
{
	text-align: right;
}

thead>tr>td
{
	text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.positiveButton
{
	color: green;
}

.negativeButton
{
	color: red;
}

