<h2 mat-dialog-title [ngStyle]="{'background': backgroundColor}">{{description}}</h2>
<mat-dialog-content>
	<mat-form-field style="display:inline; margin-left: 100px;">
		<mat-select [(ngModel)]="selectedAccount" name="accounts" ngDefaultControl>
			<!-- (selectionChange)="accountChange($event.value)" -->
			<mat-option *ngFor="let account of allAccounts | keyvalue" [value]="account.key">{{account.value}}</mat-option>
		</mat-select>
	</mat-form-field>
	<div *ngIf="option" >
		<span>{{UnderlyingSymbol}}</span>
		<mat-form-field>
			<mat-select [(value)]="expiration">
				<mat-option *ngFor="let expiration of expirations" [value]="expiration">{{expirationDisplay(expiration)}}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-select [(value)]="strike">
				<mat-option *ngFor="let strike of strikes" [value]="strike">{{strike}}</mat-option>
			</mat-select>
		</mat-form-field>
		<button style="margin-left:50px;margin-right:20px" (click)="toggleOptionType()">{{optionTypeName}}</button>
		<span>{{bidSize}}</span>
		<span>{{bidAmount}}</span>
		<span>{{askAmount}}</span>
		<span>{{askSize}}</span>
	</div>
	<quantity step="100" [value]="quantity" (valueChange)="quantity=$event"></quantity>
	<mat-form-field>
		<input matInput placeholder="Limit" class="number" type="number" step="0.01" [ngModel]="limit" (ngModelChange)="limit=$event">
	</mat-form-field>
	 <mat-form-field *ngIf="showStop" >
		<input matInput placeholder="Stop" class="number" type="number" step="0.01" [ngModel]="stop" (ngModelChange)="stop=$event">
	 </mat-form-field>
	 <mat-form-field *ngIf="showStop">
		<input matInput placeholder="Stop-Limit" class="number" type="number" step="0.01" [ngModel]="stopLimit" (ngModelChange)="stopLimit=$event">
	 </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions style="flex: content; flex-direction: row;align-items: flex-start;display: flex;">
	<button mat-raised-button [class.buy]="isBuy" [class.sell]="!isBuy" style="margin-left:10px;margin-right:20px" (click)="isBuy=!isBuy">{{isBuy ? "Buy" : "Sell"}}</button>
	<span style="margin-left: auto;" >
		<button mat-icon-button [class.buy]="isBuy" [class.sell]="!isBuy" [disabled]="!selectedAccount || _submitting" (click)="_submitting=true;onSubmitClick()"><mat-icon>done</mat-icon>{{isBuy ? "Buy" : "Sell"}}</button>
		<button style="margin-left:50px;margin-right:20px" mat-icon-button (click)="onCancelClick()"><mat-icon>cancel</mat-icon>Cancel</button>
	</span>
</mat-dialog-actions>