<mat-table *ngIf="viewPromise | async" matSort [dataSource]="dataSource" class="mat-elevation-z8" (matSortChange)="sortData($event)"  [matSortActive]="sort.active" [matSortDirection]="sort.direction">
	<ng-container *ngIf="selections" matColumnDef="select">
		<mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selections.hasValue() && isAllSelected()" [indeterminate]="selections.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"> </mat-checkbox>
		</mat-header-cell>
		<mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selections.toggle(row) : null" [checked]="selections.isSelected(row)" [aria-label]="checkboxLabel(row)"></mat-checkbox>
		</mat-cell>
	</ng-container>
	<ng-container [matColumnDef]="column" *ngFor="let column of stringColumnNames">
		<mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element[column]}} </mat-cell>
	 </ng-container>
	 <ng-container [matColumnDef]="column" *ngFor="let column of objectColumnNames">
		<mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element[column].name}} </mat-cell>
	 </ng-container>
	 <ng-container [matColumnDef]="column" *ngFor="let column of listColumnNames">
		<mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element[column].join()}}
			<button mat-icon-button color="primary" (click)="edit(column,element)" aria-label="Edit">
				<mat-icon>edit</mat-icon>
			 </button>
		</mat-cell>
	 </ng-container>
	 <ng-container [matColumnDef]="column" *ngFor="let column of dateColumnNames">
		<mat-header-cell mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
		<mat-cell *matCellDef="let element"> {{element[column] | date:'mediumDate'}} </mat-cell>
	 </ng-container>
	<mat-header-row *matHeaderRowDef="displayedColumnNames; sticky: true"></mat-header-row>
	<mat-row mat-row *matRowDef="let row; columns: displayedColumnNames;" (click)="cellClick(row)" [class.hidden]="!showDeleted && row.deleted" [class.highlight]="selection?.id==row.id"></mat-row>
</mat-table>
