<mat-tab-group *ngIf="viewPromise | async" #symbolTabs [selectedIndex]="settings.tabIndex" (selectedIndexChange)="settings.tabIndex=$event;">
	<mat-tab>
		<ng-template mat-tab-label>Properties</ng-template>
		<ng-template matTabContent>
			<graph-ql-properties [original]="data" [type]="type" (save)="onSave($event)"></graph-ql-properties>
		</ng-template>
	</mat-tab>
	<mat-tab *ngFor="let tab of tabs">
		<ng-template mat-tab-label>{{tab.display}}</ng-template>
		<ng-template matTabContent>
			<graph-ql-links [schema]="tab" [parent]="data" [parentType]="type"></graph-ql-links>
		</ng-template>
	</mat-tab>
</mat-tab-group>
